html {
  height: 100%; }

body {
  color: #ccc;
  font-family: 'Lato', sans-serif;
  height: 100%;
  background: url(../images/kresge-background1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none; }

.main-container {
  background-color: #000;
  position: relative;
  height: 100%;
  background-color: #000;
  animation-name: blackCoverFade;
  animation-duration: 0.8s;
  animation-fill-mode: forwards; }

@keyframes blackCoverFade {
  0% {
    background-color: black; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }
.header {
  padding: 20px;
  text-align: center;
  color: #888;
  height: 110px; }
  .header h1 {
    position: relative;
    z-index: 1;
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 3px; }
  .header h2 {
    color: #444;
    position: relative;
    z-index: 1;
    font-size: 1.1em;
    font-weight: 400; }

.content {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  z-index: 4;
  transform: translateY(-50%); }
  .content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.2em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 7px; }
  .content h2 {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 0;
    font-family: 'Lato', sans-serif; }
  .content h3 {
    line-height: 30px;
    font-weight: 400; }
  .content .signup {
    margin-top: 8px;
    border-radius: 30px;
    position: relative; }
    .content .signup .confirm-message {
      color: #fff;
      display: none; }
    .content .signup .go-btn {
      vertical-align: top;
      display: inline-block;
      background-color: #fff;
      padding: 10px 6px;
      color: #000;
      border-radius: 30px;
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
      font-weight: 600; }
      .content .signup .go-btn:hover {
        -webkit-filter: brightness(1.5);
        filter: brightness(1.5); }
    .content .signup .signup-text {
      width: 300px;
      font-weight: 300; }
    .content .signup .enter-email {
      display: none;
      font-size: 16px;
      outline: none;
      border: none;
      position: absolute;
      font-family: 'Lato', sans-serif;
      top: 7px;
      left: 16px;
      text-align: center;
      z-index: 4;
      width: 300px; }
    .content .signup .signup-box {
      z-index: 2;
      vertical-align: top;
      overflow: hidden;
      width: 300px;
      font-weight: 200;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transition: background-color 0.2s;
      /* Safari */
      transition: background-color 0.2s;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 30px;
      position: relative; }
      .content .signup .signup-box em {
        font-weight: 800;
        text-decoration: none;
        font-style: normal; }
      .content .signup .signup-box:hover {
        background-color: white;
        color: #000;
        -webkit-transition: background-color 0.2s;
        /* Safari */
        transition: background-color 0.2s; }

.content-inner {
  display: inline-block; }
  .content-inner:hover {
    cursor: pointer; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px; }
  .footer img {
    width: 60px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 6; }

.slanted-background-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.slanted-background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0; }

@media (max-width: 520px) {
  .header h1 {
    font-size: 1.6em; }
  .header h2 {
    font-size: 1.1em; } }
.kresge-container {
  position: fixed;
  bottom: 80px;
  z-index: 3;
  left: 50%;
  transform: translateX(-60px); }
  .kresge-container .cover-kresge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    top: 0;
    height: 60px;
    width: 120px;
    background-image: url(../images/kcover.png);
    background-size: 100%; }
  .kresge-container .black-kresge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 60px;
    width: 120px;
    background-image: url(../images/kblack.png);
    background-size: 100%; }
  .kresge-container .bars-kresge {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 120px; }
    .kresge-container .bars-kresge .color-bar {
      position: absolute;
      top: 60px;
      bottom: 0;
      width: 10px; }

/*# sourceMappingURL=main.css.map */
